/* basic setup */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    padding: 16px 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
}

/* banner section */
.banner {
    background-image: url(/images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}